In [1]:
import pandas as pd

In [2]:
adidas = pd.read_csv("adidas.csv")

In [3]:
adidas.columns

Index(['url', 'name', 'sku', 'selling_price', 'original_price', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language',
       'average_rating', 'reviews_count', 'crawled_at'],
      dtype='object')

In [4]:
datos_categoricos = ['url', 'name', 'sku', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language',
       ]

Eliminar los datos que tengan mas del .98%

In [5]:
target = .97

columnas_validas = []
columnas_arriba_98 = []
columnas_un_nivel = []

for c_ in datos_categoricos:
    x = adidas.loc[ : , [c_] ].drop_duplicates()
    uniquevalues = x.shape[0]
    
    if uniquevalues == 1:
        columnas_un_nivel.append(c_)
    elif (uniquevalues / adidas.shape[0]) > target:
        columnas_arriba_98.append(c_)
    else:
        columnas_validas.append(c_)

In [6]:
adidas.loc[ : , columnas_arriba_98 ].drop_duplicates()

,url,sku,images
0,https://www.adidas.com/us/beach-shorts/FJ5089....,FJ5089,"https://assets.adidas.com/images/w_600,f_auto,..."
1,https://www.adidas.com/us/five-ten-kestrel-lac...,BC0770,"https://assets.adidas.com/images/w_600,f_auto,..."
2,https://www.adidas.com/us/mexico-away-jersey/G...,GC7946,"https://assets.adidas.com/images/w_600,f_auto,..."
3,https://www.adidas.com/us/five-ten-hiangle-pro...,FV4744,"https://assets.adidas.com/images/w_600,f_auto,..."
4,https://www.adidas.com/us/mesh-broken-stripe-p...,GM0239,"https://assets.adidas.com/images/w_600,f_auto,..."
...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,FX2858,"https://assets.adidas.com/images/w_600,f_auto,..."
841,https://www.adidas.com/us/choigo-shoes/H00667....,H00667,"https://assets.adidas.com/images/w_600,f_auto,..."
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,GZ7705,"https://assets.adidas.com/images/w_600,f_auto,..."
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,GZ7706,"https://assets.adidas.com/images/w_600,f_auto,..."
844,https://www.adidas.com/us/choigo-shoes/FY6503....,FY6503,"https://assets.adidas.com/images/w_600,f_auto,..."

In [7]:
adidas.loc[ : , columnas_validas ].drop_duplicates()

,name,availability,color,category,breadcrumbs,description
0,Beach Shorts,InStock,Black,Clothing,Women/Clothing,Splashing in the surf. Making memories with yo...
1,Five Ten Kestrel Lace Mountain Bike Shoes,InStock,Grey,Shoes,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...
2,Mexico Away Jersey,InStock,White,Clothing,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse..."
3,Five Ten Hiangle Pro Competition Climbing Shoes,InStock,Black,Shoes,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...
4,Mesh Broken-Stripe Polo Shirt,InStock,Blue,Clothing,Men/Clothing,Step up to the tee relaxed. This adidas golf p...
...,...,...,...,...,...,...
840,Supernova+ Shoes,InStock,White,Shoes,Women/Shoes,Take off. Touch down. Repeat. These adidas run...
841,Choigo Shoes,InStock,White,Shoes,Women/Shoes,"If you want drama, the bold female track and f..."
842,Daily 3.0 Shoes,InStock,Black,Shoes,Kids/Shoes,The style is in the details of the Daily 3.0 S...
843,Daily 3.0 Shoes,InStock,Pink,Shoes,Kids/Shoes,The style is in the details of the Daily 3.0 S...
844,Choigo Shoes,InStock,Black,Shoes,Women/Shoes,Take your style to bold new heights. Throw in ...

Tratamiento de la columna breadcrumbs

In [8]:
columnas_validas

['name', 'availability', 'color', 'category', 'breadcrumbs', 'description']

In [9]:
frecuencia = adidas.groupby( [ "breadcrumbs" ] , as_index = False ).agg({"sku" : [ "count" ] })

In [10]:
frecuencia.columns = frecuencia.columns.droplevel(1)

In [11]:
frecuencia['Porcentage'] = frecuencia['sku'] / adidas.shape[0]

In [12]:
frecuencia = frecuencia.sort_values( ['Porcentage'] , ascending=False )

In [13]:
frecuencia #Ya que las primeras 4 filas forman el 71% del dataset podemos tomar a todo lo demas que esta por debajo de ella como Others

              breadcrumbs  sku  Porcentage
20         Women/Clothing  176    0.208284
21            Women/Shoes  155    0.183432
8               Men/Shoes  142    0.168047
7            Men/Clothing  128    0.151479
5              Kids/Shoes   70    0.082840
11        Originals/Shoes   35    0.041420
4           Kids/Clothing   30    0.035503
18   Training/Accessories   25    0.029586
9   Originals/Accessories   22    0.026036
19      Women/Accessories   16    0.018935
6         Men/Accessories   15    0.017751
15           Soccer/Shoes   10    0.011834
17             Swim/Shoes    7    0.008284
13          Running/Shoes    5    0.005917
14     Soccer/Accessories    2    0.002367
3        Kids/Accessories    1    0.001183
10     Originals/Clothing    1    0.001183
1        Essentials/Shoes    1    0.001183
12    Running/Accessories    1    0.001183
16    Sportswear/Clothing    1    0.001183
2          Five Ten/Shoes    1    0.001183
0     Essentials/Clothing    1    0.001183

In [14]:
frecuencia['breadcrumbs_p'] = 'Others'

In [15]:
frecuencia

              breadcrumbs  sku  Porcentage breadcrumbs_p
20         Women/Clothing  176    0.208284        Others
21            Women/Shoes  155    0.183432        Others
8               Men/Shoes  142    0.168047        Others
7            Men/Clothing  128    0.151479        Others
5              Kids/Shoes   70    0.082840        Others
11        Originals/Shoes   35    0.041420        Others
4           Kids/Clothing   30    0.035503        Others
18   Training/Accessories   25    0.029586        Others
9   Originals/Accessories   22    0.026036        Others
19      Women/Accessories   16    0.018935        Others
6         Men/Accessories   15    0.017751        Others
15           Soccer/Shoes   10    0.011834        Others
17             Swim/Shoes    7    0.008284        Others
13          Running/Shoes    5    0.005917        Others
14     Soccer/Accessories    2    0.002367        Others
3        Kids/Accessories    1    0.001183        Others
10     Originals/Clothing    1    0.001183        Others
1        Essentials/Shoes    1    0.001183        Others
12    Running/Accessories    1    0.001183        Others
16    Sportswear/Clothing    1    0.001183        Others
2          Five Ten/Shoes    1    0.001183        Others
0     Essentials/Clothing    1    0.001183        Others

In [16]:
frecuencia['breadcrumbs_p'] = frecuencia.apply( lambda r: r['breadcrumbs'] if r['Porcentage'] > 0.10 else r['breadcrumbs_p'] ,axis = 1 )

In [17]:
frecuencia

              breadcrumbs  sku  Porcentage   breadcrumbs_p
20         Women/Clothing  176    0.208284  Women/Clothing
21            Women/Shoes  155    0.183432     Women/Shoes
8               Men/Shoes  142    0.168047       Men/Shoes
7            Men/Clothing  128    0.151479    Men/Clothing
5              Kids/Shoes   70    0.082840          Others
11        Originals/Shoes   35    0.041420          Others
4           Kids/Clothing   30    0.035503          Others
18   Training/Accessories   25    0.029586          Others
9   Originals/Accessories   22    0.026036          Others
19      Women/Accessories   16    0.018935          Others
6         Men/Accessories   15    0.017751          Others
15           Soccer/Shoes   10    0.011834          Others
17             Swim/Shoes    7    0.008284          Others
13          Running/Shoes    5    0.005917          Others
14     Soccer/Accessories    2    0.002367          Others
3        Kids/Accessories    1    0.001183          Others
10     Originals/Clothing    1    0.001183          Others
1        Essentials/Shoes    1    0.001183          Others
12    Running/Accessories    1    0.001183          Others
16    Sportswear/Clothing    1    0.001183          Others
2          Five Ten/Shoes    1    0.001183          Others
0     Essentials/Clothing    1    0.001183          Others

In [18]:
frecuencia = frecuencia.loc[ : , ['breadcrumbs','breadcrumbs_p'] ]

In [19]:
adidas.merge( frecuencia , on=['breadcrumbs'] , how='left' )

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,...,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at,breadcrumbs_p
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,Women/Clothing
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,...,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830,Women/Shoes
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,...,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834,Others
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,...,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054,Others
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,...,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680,Men/Clothing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,...,Women/Shoes,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924,Women/Shoes
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,...,Women/Shoes,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973,Women/Shoes
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,...,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426,Others
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,...,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622,Others
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,...,Women/Shoes,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104,Women/Shoes

Tratamiento de la columna category

In [20]:
frecuencia_2 = adidas.groupby( [ "category" ] , as_index = False ).agg({"sku" : [ "count" ] })

In [21]:
frecuencia_2

      category   sku
               count
0  Accessories    82
1     Clothing   337
2        Shoes   426

In [22]:
frecuencia_2.columns = frecuencia_2.columns.droplevel(1)

In [23]:
frecuencia_2['Porcentaje'] = frecuencia_2['sku'] / adidas.shape[0]

In [24]:
frecuencia_2 = frecuencia_2.sort_values( ['Porcentaje'] , ascending=False )

In [25]:
frecuencia_2 #Aqui vamos a poner la fila Accessories como Others ya que es la que tiene menor frecuencia

      category  sku  Porcentaje
2        Shoes  426    0.504142
1     Clothing  337    0.398817
0  Accessories   82    0.097041

In [26]:
frecuencia_2['category_p'] = 'Others'

In [27]:
frecuencia_2

      category  sku  Porcentaje category_p
2        Shoes  426    0.504142     Others
1     Clothing  337    0.398817     Others
0  Accessories   82    0.097041     Others

In [28]:
frecuencia_2['category_p'] = frecuencia_2.apply( lambda r: r['category'] if r['Porcentaje'] > 0.10 else r['category_p'] ,axis = 1 )

In [29]:
frecuencia_2

      category  sku  Porcentaje category_p
2        Shoes  426    0.504142      Shoes
1     Clothing  337    0.398817   Clothing
0  Accessories   82    0.097041     Others

In [30]:
frecuencia_2 = frecuencia_2.loc[ : , ['category','category_p'] ]

In [31]:
adidas.merge( frecuencia_2 , on=['category'] , how='left' )

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,...,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at,category_p
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,Clothing
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,...,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830,Shoes
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,...,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834,Clothing
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,...,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054,Shoes
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,...,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680,Clothing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,...,Women/Shoes,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924,Shoes
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,...,Women/Shoes,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973,Shoes
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,...,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426,Shoes
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,...,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622,Shoes
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,...,Women/Shoes,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104,Shoes

Tramamiento de la columna color

In [32]:
frecuencia_3 = adidas.groupby( [ "color" ] , as_index = False ).agg({"sku" : [ "count" ] })

In [33]:
frecuencia_3

         color   sku
               count
0        Beige     6
1        Black   187
2         Blue   104
3        Brown     1
4     Burgundy     9
5         Gold     3
6        Green    59
7         Grey    81
8        Multi     4
9   Multicolor    20
10      Orange    11
11        Pink    62
12      Purple    31
13         Red    25
14      Silver     1
15   Turquoise     2
16       White   222
17      Yellow    17

In [34]:
frecuencia_3.columns = frecuencia_3.columns.droplevel(1)

In [35]:
frecuencia_3['Porcentaje_color'] = frecuencia_3['sku'] / adidas.shape[0]

In [36]:
frecuencia_3 = frecuencia_3.sort_values( ['Porcentaje_color'] , ascending=False )

In [37]:
frecuencia_3

         color  sku  Porcentaje_color
16       White  222          0.262722
1        Black  187          0.221302
2         Blue  104          0.123077
7         Grey   81          0.095858
11        Pink   62          0.073373
6        Green   59          0.069822
12      Purple   31          0.036686
13         Red   25          0.029586
9   Multicolor   20          0.023669
17      Yellow   17          0.020118
10      Orange   11          0.013018
4     Burgundy    9          0.010651
0        Beige    6          0.007101
8        Multi    4          0.004734
5         Gold    3          0.003550
15   Turquoise    2          0.002367
14      Silver    1          0.001183
3        Brown    1          0.001183

In [38]:
frecuencia_3['color_p'] = 'Others'

In [39]:
frecuencia_3['color_p'] = frecuencia_3.apply( lambda r: r['color'] if r['Porcentaje_color'] > 0.08 else r['color_p'] ,axis = 1 )

In [40]:
frecuencia_3 # Vamos a poner Other de 8% para abajo

         color  sku  Porcentaje_color color_p
16       White  222          0.262722   White
1        Black  187          0.221302   Black
2         Blue  104          0.123077    Blue
7         Grey   81          0.095858    Grey
11        Pink   62          0.073373  Others
6        Green   59          0.069822  Others
12      Purple   31          0.036686  Others
13         Red   25          0.029586  Others
9   Multicolor   20          0.023669  Others
17      Yellow   17          0.020118  Others
10      Orange   11          0.013018  Others
4     Burgundy    9          0.010651  Others
0        Beige    6          0.007101  Others
8        Multi    4          0.004734  Others
5         Gold    3          0.003550  Others
15   Turquoise    2          0.002367  Others
14      Silver    1          0.001183  Others
3        Brown    1          0.001183  Others

In [41]:
frecuencia_3 = frecuencia_3.loc[ : , ['color','color_p'] ]

In [42]:
adidas.merge( frecuencia_3 , on=['color'] , how='left' )

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,...,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at,color_p
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,Black
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,...,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830,Grey
2,https://www.adidas.com/us/mexico-away-jersey/G...,Mexico Away Jersey,GC7946,70,NaN,USD,InStock,White,Clothing,adidas United States,...,Kids/Clothing,"Clean and crisp, this adidas Mexico Away Jerse...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.9,42,2021-10-23 17:50:17.530834,White
3,https://www.adidas.com/us/five-ten-hiangle-pro...,Five Ten Hiangle Pro Competition Climbing Shoes,FV4744,160,NaN,USD,InStock,Black,Shoes,adidas United States,...,Five Ten/Shoes,The Hiangle Pro takes on the classic shape of ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,3.7,7,2021-10-23 17:50:17.615054,Black
4,https://www.adidas.com/us/mesh-broken-stripe-p...,Mesh Broken-Stripe Polo Shirt,GM0239,65,NaN,USD,InStock,Blue,Clothing,adidas United States,...,Men/Clothing,Step up to the tee relaxed. This adidas golf p...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,11,2021-10-23 17:50:17.702680,Blue
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
840,https://www.adidas.com/us/supernova-plus-shoes...,Supernova+ Shoes,FX2858,72,$120,USD,InStock,White,Shoes,adidas United States,...,Women/Shoes,Take off. Touch down. Repeat. These adidas run...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.3,151,2021-10-23 17:52:31.937924,White
841,https://www.adidas.com/us/choigo-shoes/H00667....,Choigo Shoes,H00667,70,$100,USD,InStock,White,Shoes,adidas United States,...,Women/Shoes,"If you want drama, the bold female track and f...",adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.014973,White
842,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7705,35,$50,USD,InStock,Black,Shoes,adidas United States,...,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.208426,Black
843,https://www.adidas.com/us/daily-3.0-shoes/GZ77...,Daily 3.0 Shoes,GZ7706,40,$50,USD,InStock,Pink,Shoes,adidas United States,...,Kids/Shoes,The style is in the details of the Daily 3.0 S...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,190,2021-10-23 17:52:32.293622,Others
844,https://www.adidas.com/us/choigo-shoes/FY6503....,Choigo Shoes,FY6503,70,$100,USD,InStock,Black,Shoes,adidas United States,...,Women/Shoes,Take your style to bold new heights. Throw in ...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.7,135,2021-10-23 17:52:32.398104,Black